@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch');




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #00cc99;
  min-height: 30h;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  font-family: 'Sofia';
  text-align: centre;
  
}


body {
  background-image: radial-gradient(#FAFAFA 25%, transparent 25%), radial-gradient(#FAFAFA 25%, transparent 25%);
  background-color: #00eebb;
  background-position: 0 0, 55px 55px;
  background-size: 120px 120px;
  font-family: 'Titillium Web', sans-serif
}
.heading {
  font-weight: 900;
}
.subheading {
  font-weight: 300;
}

.App-link {
  color: #61dafb;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
width: 80%;
border-radius: 12px;
border: 2px solid #5CBF60;
margin: 5px;

}

button:hover
{

  background-color: pink;
  color: black;
}



log li{
	
	float: right;
}


log a:hover{
	
	
	
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00eebb;
  font-weight: 900;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: pink;
}

nav li a.active {
  background-color: #4CAF50;
}

div.transbox {
  margin: 7%;
  background-color: rgba(255,240,240,0.8);
  border: 2px solid black;
  text-align: center;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  justify-content: center;
}

div.transbox h2 {
  margin: 5%;
  margin-bottom: 0%;
  font-weight: bold;
  color: #000000;
  justify-content: center;
  font-family: 'Sofia';
}

div.transbox h3 {
  font-weight: bold;
  color: #000000;
  justify-content: center;
}

div.transbox ul {
  margin: 5%;
  color: #000000;
  text-align: left;
}

div.footertransbox {
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  text-align: center;
  width : 40%;
}


div.donation {
  border: 0;
    justify-content: center;
  text-align: center;
}

div.loginbox {
  margin: 25%;
  margin-top: 0%;
  margin-bottom: 2%;
  background-color: #ffffff;
  border: 2px solid black;
  opacity: 0.8;
  text-align: center;
  display: none;
}



/* styling paper */
#paper {
  width: 600px;
  height: 700px;
  position: relative;
  margin: 20px auto;
  padding-top: 8px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255,0,0,0.6);
}

/* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
  padding-top: 0px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#content.h2 {
    text-align: center;
}

/* doodle styling */
img {
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: 0;
  width: 20%;
  filter: invert(83%) sepia(62%) saturate(958%) hue-rotate(280deg) brightness(104%) contrast(100%);
}
